h2 {
    text-align:center;
    text-transform: uppercase;
}

p {
    font-weight: bold;
    color: purple;
    text-align:center;
}

#button {
    display:block;
    margin:0 auto;
}

body {
   /* background-image: url("../images/hawnuhlee_inspiring.jpg");*/
    background-color: #DCF7FE;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;     
    font-family: sans-serif;
}
